html
{
  scroll-behavior: smooth;
}
h3
{
  font-family:'Times New Roman', Times, serif;
  font-size: 100%;
  font-weight: 400;
}
h2
{
  font-family: 'Times New Roman', Times, serif;
  font-size: 120%;
  font-weight: 400;
  padding: 3%;
}
h1
{
  font-family:'Times New Roman', Times, serif;
  font-size: 130%;
  font-weight: 400;
  padding: 1%;
}

table, th, td
{
  border: 1px solid #000000;
  border-collapse: collapse;
}

table
{
  width: 100%;
}

th
{
  font-weight: 900;
}

img
{
  border: 2px solid rgb(120, 40, 0);
  border-radius: 20px;
}

a
{
  text-decoration: none;
  color: black;
}

li
{
  padding: 1%;
  transition: 0.1s;

}
figcaption
{
  font-family: 'Times New Roman', Times, serif;
  font-size: 100%;
  font-weight: 400;
  padding: 1%;
}
footer
{
  text-align: center;
  background-color: darkgray;
  width: 100%;
}

p
{
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: 400;
  padding: 2%;
  background-color: rgb(125, 105, 105);
  margin: 1%;
  border-radius: 14px;
  margin-bottom: 2%;
  text-align: justify;
}
body
{
  background-color: #f2f2f2; 
}
.header
{
  border-bottom: 2px solid rgb(0,0,0);
}

.menu
{
  list-style-image: url(../img/guitarra-eletrica.png);
}

.resp
{
  justify-content: space-around;
  flex-direction: row;
  display: flex;
}

.nav1
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-bottom: 2px solid rgb(0,0,0);
}

.container
{
  background-color: rgb(140, 120, 120);
  width: 80%;
  margin: auto;
  text-align: center;
  border-radius: 50px;
  margin-top: 2%;
  padding: 1%;
}

.cont
{
  width: 80%;
  margin: auto;
  text-align: center;
  border-radius: 50px;
  margin-top: 2%;
  padding: 1%;
  margin-bottom: 2%;
}

.banner
{
  width: 90%;
  height: 40%;
  border: none;
}

.imgDir
{
  float: right;
}

.soc{
  padding-top:2%;
  height:2%;
  width:2%;
  border: none;
}

.imgClass
{
  width: 10%;
  margin-left: 2%;
}

.row
{
  display: flex;
  flex-wrap: row wrap;
  text-align: center;
  margin-top: 1%;
}

.col-6
{
  width: 50%;
}

.img-card
{
  background-image: linear-gradient(to right, rgb(125, 105, 105), rgb(90, 70, 70));
  margin: 7%;
  padding: 2%;
  border-radius: 24px;
  box-shadow: 7px 7px rgb(100, 80, 80);
  transition: 0.2s;
}

li:hover
{
  transform: scale(105%);
}

.img-card:hover
{
  transform: scale(105%);
  box-shadow: 8px 8px rgb(100, 80, 80);
}

@media(max-width: 650px){
  .row{
    flex-direction: column;
  }
  .col-6{
    width: 100%;
  }
}

@media(max-width: 650px){
  .resp{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}